body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    /* list-style-type: none; */
    margin: 0;
    padding: 0;
}

.btn-primary {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2.3px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1085e4;
    border: 1px solid #1085e4;    
    padding:21px 41px;
    border-radius: 28px;
}

.btn-primary:hover {
    color: #1085e4;
    background-color: #fff;    
}

.btn-secondary {
    color: #8390b2;
    font-size: 12px;
    letter-spacing: 2.3px;    
    font-weight: 700;
    text-transform: uppercase;
    background-color: #cbdbe8;
    border: 1px solid #cbdbe8;   
    padding:21px 41px;
    border-radius: 28px;
}

.btn-secondary:hover {
    background-color: #fff;    
}
.btn-free {
    font-weight: 400;
    letter-spacing: 1.8px;
    padding: 22px 54px;
}

.btn-info {
    color: #8085b1;
    font-size: 12px;
    letter-spacing: 2.3px;    
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #dce1e5;
    padding:21px 41px;
    border-radius: 28px;
}

.btn-group a + a {
    margin-left: 15px;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.page-subscribe {
    background-color: blue;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.page-subscribe h2 span {
    font-size: 14px;
    color: #00bffe;
    display: block;
}

.page-subscribe p {
    font-size: 18px;
    color: #fff;
}

.page-software h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-software dt {
    font-weight: 700;
    color: #5a6789;
}

.page-stat h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-stat h2 span {
    font-size: 16px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1085e4;
    display: block;
}

.page-stat li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1085e4;
}

.page-stat li span {
    font-size: 70px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}

.page-app h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.now {
    color: #c4d2dd;
    text-transform: uppercase;
}

.page-app li {
    list-style-type: none;
}

.page-anaytics h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-analytics2 h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-screen h2 {
    font-size: 40pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-screen h2 span {
    font-size: 18px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1085e4;
    display: block;
}