body {
    font-family: 'Open Sans', sans-serif;
    color: #7581a1;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
}

.btn-free {
    color: #fff;
    font-weight: 400;
    background-color: #1085e4;
}

.grid h2 {
    font-size: 40px;
    color: #192b59;
    font-weight: 700;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 4px;
    color: #1085e4;
    display: block;
    text-transform: uppercase;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192b59;
}

.grid-item a {
    font-size: 14px;
    color: #1085e4;
    font-weight: 600;
}

.page-subscribe {
    background-color: blue;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}

.page-subscribe h2 span {
    font-size: 14px;
    color: #00bffe;
    display: block;
}

.page-subscribe p {
    font-size: 18px;
    color: #fff;
}

.page-software h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-software dt {
    font-weight: 700;
    color: #5a6789;
}

.page-stat h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-stat h2 span {
    font-size: 16px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1085e4;
    display: block;
}

.page-stat li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1085e4;
}

.page-stat li span {
    font-size: 70px;
    font-weight: 700;
    color: #bacbdc;
    display: block;
}

.page-app h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.now {
    color: #c4d2dd;
    text-transform: uppercase;
}

.page-app li {
    list-style-type: none;
}

.page-anaytics h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-analytics2 h2 {
    font-size: 50pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-screen h2 {
    font-size: 40pt;
    font-weight: 600;
    color: #192b59;
    text-transform: capitalize;
}

.page-screen h2 span {
    font-size: 18px;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #1085e4;
    display: block;
}